<main class="main">
    <div class="bg-[url('/images/banner-mobile.png')] lg:bg-[url('/images/banner.webp')] h-[calc(100vh-4rem)] bg-cover bg-right flex justify-center items-center">
        <container>
            <div class="max-w-[30rem] mx-auto lg:mr-0 flex flex-col justify-center">
                <div class="text-[28px] sm:text-[36px] text-center sm:text-start">
                    Welcome to Patitas Veterinary Clinic, where your pet's health and happiness are our top priorities.
                </div>
                <div class="mt-8 mx-auto sm:mx-0">
                    <a class="text-[21px] sm:text-[30px] text-white bg-black hover:bg-[#2b2323] rounded-[30px] px-6 pt-2 pb-3" routerLink="/book-appointment">Book an Appointment</a>
                </div>
            </div>
        </container>
    </div>
    <container>
        <div class="text-[22px] text-center py-16 space-y-16">
            <div>
                At Patitas Veterinary Clinic, we are dedicated to providing exceptional veterinary care with compassion and expertise.
                Our team of experienced veterinarians and staff is committed to ensuring that every visit is a positive experience for both you and your furry friend.
                We are here to support your pet's health at every stage of their life because at Patitas Veterinary Clinic, every paw matters!
            </div>
            <div>
                <div class="mb-12">
                    <div class="text-[80px]">Our Services</div>
                </div>
                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-x-20 gap-y-8">
                    <service 
                        image="/images/checkups-consultations.png" 
                        title="General Checkups and Consultations" 
                        description="Comprehensive health assessments and personalized care plans for your pets."
                    ></service>
                    <service 
                        image="/images/vaccination.jpg" 
                        title="Vaccinations" 
                        description="Essential vaccines to protect your pets from common diseases."
                    ></service>
                    <service 
                        image="/images/dental-care.jpg" 
                        title="Dental Care" 
                        description="Professional dental cleaning and preventive oral health care."
                    ></service>
                    <service 
                        image="/images/surgery.jpg" 
                        title="Surgery" 
                        description="Safe and advanced surgical procedures with postoperative care."
                    ></service>
                    <service 
                        image="/images/grooming.webp" 
                        title="Grooming Services" 
                        description="Baths, haircuts, and nail trimming to keep your pets looking their best."
                    ></service>
                    <service 
                        image="/images/emergency-care.webp" 
                        title="Emergency Care" 
                        description="Immediate care for urgent medical situations."
                    ></service>
                </div>
            </div>
        </div>
    </container>
</main>